{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock head %}

{% block body %}
  <main class="main">
    <h1>Lista de Produtos</h1>
    <ul class="lista_produtos">
      {% for produto in produtos %}
        <li>
          <a class="produto_card" href="{% url 'produto' produto.slug %}">
            <div class="produto_image">
              {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" />
              {% else %}
                <div aria-label="{{ produto.nome }}">Sem imagem</div>
              {% endif %}
            </div>
            <div class="produto_info">
              <h2 class="produto_nome">{{ produto.nome }}</h2>
              <p class="descricao">{{ produto.descricao }}</p>
              <p class="produto_valor">{{ produto.valor_formatado }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock body %}

