{% extends "base.html" %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock head %}

{% block body %}
  <main class="main">
    <div class="profile_card">
      <h1>Seu perfil</h1>
      <div class="profile" id="profile">
        {% if profile_image %}
          <img src="{{ profile_image }}" alt="Imagem do perfil" id="profileImage" /> 
        {% else %}
          <img src="https://via.placeholder.com/150" alt="Imagem do perfil" id="profileImage" />
        {% endif %}
      </div>
      <h2 class="nome">{{ user.get_short_name }}</h2>
      <form class="form" method="POST" action="{% url 'salvar_imagem' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="imageInput" name="profile_image" style="display: none;" accept="image/*" />
        <div class="form_buttons">
          <button
            type="button"
            class="upload-btn"
            onclick="document.getElementById('imageInput').click();"
          >
            Trocar Imagem
          </button>
          <button type="submit" class="upload-btn">Salvar Imagem</button>
          <button type="button" class="delete-btn" onclick="deleteImage()">Excluir Imagem</button>
        </div>
      </form>
      <a class="sair" href="{% url 'home' %}">Voltar</a>
      <a class="me_levar" href="{% url 'cadastro_produto' %}">Adicionar produto</a>
    </div>
  </main>
{% endblock body %}

{% block js %}
  <script>
    const imageInput = document.getElementById("imageInput");
    const profileImage = document.getElementById("profileImage");

    imageInput.addEventListener("change", () => {
      const file = imageInput.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          profileImage.src = e.target.result;
        };
        reader.readAsDataURL(file);
      };
    });

    function deleteImage() {
      profileImage.src = "https://via.placeholder.com/150"; 
      imageInput.value = ""; 
    };
  </script>
{% endblock js %}
