body {
  font-family: Arial, sans-serif;
  background-image: url("/static/fundo/cadastro/fundo.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container button {
  margin-bottom: 20px;
}

.form-container .social-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.social-container .social {
  font-size: 20px;
  color: #0051ff;
}

.form-container input {
  margin-bottom: 10px;
}

.form-container button {
  margin-top: 10px;
}

.sign-up-container,
.sign-in-container {
  display: none;
  visibility: none;
}

.active {
  display: block;
}

.toggle-link {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: #007bff;
}

.logo {
  color: white;
}

.input-icon {
  display: flex;
  align-items: center;
  background-color: #fdfdfd; 
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 05px;
  margin-bottom: 08px;
}

.input-icon i {
  color: #636363;
  font-size: 16px;
  margin-right: 12px;
}

.input-icon input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
 
}

.btn-cadastro{
  border: 1px solid rgb(0, 255, 85);
  background-color: rgb(108, 109, 108);
  border-radius: 40px;
  padding: 10px;
  display: flex;
}

.btn-cadastro:hover{
  background-color: rgb(0, 226, 0);
  transition: 1s;
  
}
