body {
  font-family: Arial, sans-serif;
  background-image: url("/static/fundo/cadastro/fundo.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container button {
  margin-bottom: 20px;
}

.form-container .social-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.social-container .social {
  font-size: 20px;
  color: #0051ff;
}

.form-container input {
  margin-bottom: 10px;
}

.form-container button {
  margin-top: 10px;
}

.sign-up-container,
.sign-in-container {
  display: none;
  visibility: none;
}

.active {
  display: block;
}

.toggle-link {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: #007bff;
}

.logo {
  color: rgb(72, 15, 126);
}
