.main {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-inline: 40px;
}

.lista_produtos {
  display: flex;
  padding: 0;
  margin-top: 12px;
  gap: 10px;
  list-style: none;
}

.produto_card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  max-width: 260px;
  color: black;
  text-decoration: none;
  transition: 0.5s ease, 0.5s ease;
  position: relative;
}

.produto_card:hover, .produto_card:focus {
  background-color: rgba(55, 34, 175, 0.1);
  transform: scale(1.05);
}

.produto_image {
  width: 240px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  overflow: hidden; 
  position: relative;
}

.produto_image img {
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 0.8s ease;
}

.produto_card:hover .produto_image img {
  transform: scale(1.05); 
}

.produto_info {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  gap: 6px;
}

.produto_nome {
  margin: 0;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descricao {
  display: none; 
  font-size: 14px;
  color: #444242;
  margin-top: 8px;
  text-align: left;
}

.produto_card:hover .descricao {
  display: block; 
}


