.main {
  position: relative;
  display: flex;
  margin-top: 40px;
}

.profile_card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  margin: 25px;
  width: 400px;
  align-items: center;
  flex-direction: column;
}

.profile {
  margin: 25px auto;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ccc;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nome {
  color: rgb(68, 68, 68);
  border-bottom: 1px solid black;
  text-align: center;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
}

.form_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.form button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;
  transition: 0.2s;

}


.alterar{
  color: pink;
}

.delete-btn {
  color: rgb(46, 44, 44);
}
.delete-btn:hover {
  color: rgb(255, 0, 0);
}

.sair {
  color: rgb(31, 67, 109);
  font-size: 20px;
  border: 1px solid;
  padding: 03px 10px;
  border-radius: 50px;
  transition: 0.2s;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.sair:hover {
  color: rgb(0, 4, 255);
  background-color: transparent;
}

.me_levar {
  color: black;
  padding: 10px;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 30px;
  transition: 0.5s;
  align-self: center;
  left: 125px;
  position: relative;
}

.me_levar:hover {
  color: rgb(0, 26, 255);
  background-color: transparent;
}


.itens_comprado{
  color: rgb(0, 0, 0);
  position: relative;
  border: 1px solid black;
  background: transparent;
  width: 400px;
  border-radius: 10px;
  padding-bottom: 450px;
  display: flex;
  margin: 25px;
  padding-top: 10px;
  align-items: center;
  flex-direction: column ;

}

.vendendo_itens{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 450px;
    padding-top: 10px;
    margin: 25px;
    width: 400px;
    position: relative;
    align-items: center;
    background: transparent;

  }