{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}" />
{% endblock head %}

{% block body %}
  <div class="fundo"></div>
  <main class="main">
    <div class="container" id="container">
      <div class="form-container sign-up-container active" id="signUpForm">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'cadastro' %}">
          {% csrf_token %}
          <h1 class="logo"> Criar uma conta </h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
          </div>
  
          <label class="input-icon" for="username">
            <i class="fa-solid fa-user"></i>
            <input id="username" type="text" name="username" placeholder="Digite seu username" />
          </label>
          <label class="input-icon" for="email">
            <i class="fa-solid fa-envelope"></i>
            <input id="email" type="email" name="email" placeholder="Digite seu email" />
          </label>
          <label class="input-icon" for="password">
            <i class="fa-solid fa-lock"></i>
            <input id="password" type="password" name="password" placeholder="Digite uma senha" />
          </label>

          <button type="submit" class="btn-cadastro"> Cadastrar </button>
          <div class="toggle-link" onclick="toggleForm()">Já tem uma conta? Faça login aqui.</div>
        </form>
      </div>
  
      <div class="form-container sign-in-container" id="signInForm">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <h1 class="logo">Já tenho uma conta</h1>
  
          <div class="social-container">
            <a href="#" class="social"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="social"><i class="fa-brands fa-google"></i></a>
          </div>
  
          <label class="input-icon" for="username">
            <i class="fa-solid fa-user"></i>
            <input id="username" type="text" name="username" placeholder="Digite seu username" />
          </label>
          <label class="input-icon" for="password">
            <i class="fa-solid fa-lock"></i>
            <input id="password" type="password" name="password" placeholder="Digite uma senha" />
          </label>
  
          <button type="submit" class="btn-cadastro"> Entrar </button>
          <div class="toggle-link" onclick="toggleForm()">Não tem uma conta? Cadastre-se aqui.</div>
        </form>
      </div>
    </div>
  </main>
{% endblock body %}

{% block js %}
  <script>
    function toggleForm() {
      const signUpForm = document.getElementById("signUpForm");
      const signInForm = document.getElementById("signInForm");
      
      signUpForm.classList.toggle("active");
      signInForm.classList.toggle("active");
    };
  </script>
{% endblock js %}
