{% extends "base.html" %}
{% load static %}

{% block title %}Cadastro{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/cadastro.css" %}" />
{% endblock head %}

{% block body %}
  <div class="container" id="container">
    <div class="form-container sign-up-container active" id="signUpForm">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <form method="POST" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <h1 class="logo"> Criar uma conta </h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social"><i class="fab fa-google"></i></a>
        </div>

        <div class="input-icon">
          <i class="fas fa-user"></i>
          <input type="text" name="username" class="form-control mb-3" placeholder="Digite seu username" />
        </div>
        <div class="input-icon">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" class="form-control mb-3" placeholder="Digite seu email" />
        </div>
        <div class="input-icon">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" class="form-control mb-3" placeholder="Digite uma senha" />
        </div>
        
        <button type="submit" class="btn-cadastro"> Cadastrar </button>
        <div class="toggle-link" onclick="toggleForm()">Já tem uma conta? Faça login aqui.</div>
      </form>
    </div>

    <div class="form-container sign-in-container" id="signInForm">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <form method="POST" action="{% url 'login' %}">{% csrf_token %}
        <h1 class="logo">Já tenho uma conta</h1>

        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social"><i class="fab fa-google"></i></a>
        </div>
        <span class="logo">Use sua conta</span>

        <div class="input-icon">
          <i class="fas fa-user"></i>
          <input type="text" name="username" class="form-control mb-3" placeholder="Username" />
        </div>

        <div class="input-icon">
          <i class="fas fa-lock"></i>
          <input type="password" name="senha" class="form-control mb-3" placeholder="Senha" />
        </div>

        <button type="submit" class="btn-cadastro"> Entrar </button>
        <div class="toggle-link" onclick="toggleForm()">Não tem uma conta? Cadastre-se aqui.</div>
      </form>
    </div>
  </div>
{% endblock body %}

{% block js %}
  <script>
    function toggleForm() {
      const signUpForm = document.getElementById("signUpForm");
      const signInForm = document.getElementById("signInForm");
      
      signUpForm.classList.toggle("active");
      signInForm.classList.toggle("active");
    };
  </script>
{% endblock js %}
